@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Mulish&display=swap");
:root {
  --primary-font-color: #151b54;
  --secondary-font-color: #343434;
  --active-link-color: #d99d49;
  --primary-line-color: #c4c4c4;
  --primary-bg-color: #ffffff;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "EB Garamond", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--primary-font-color);
}

/* Header */
.nav-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav-active {
  color: var(--active-link-color) !important;
}

/* Landing Image */
.landing {
  margin-top: 17px;
  position: relative;
}

.landing-inner {
  position: absolute;
  top: 349px;
  width: 315px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--primary-bg-color);
  font-size: 14px;
  line-height: 18px;
  font-family: "Mulish", sans-serif;
}

.landing-inner .line {
  width: 46px;
  position: absolute;
  top: 25px;
  left: 20px;
  border: 3px solid var(--active-link-color);
}

.landing-inner .heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  font-family: "EB Garamond", serif;
}

.landing-inner .content {
  color: var(--secondary-font-color);
}

.landing-inner .read {
  border: 2px solid var(--active-link-color);
  box-sizing: border-box;
  color: var(--active-link-color);
  width: 120px;
}

.landing-inner .hire {
  width: 150px;
  height: 43px;
  color: var(--primary-bg-color);
  background: var(--active-link-color);
}

.navigator .lines {
  width: 55.18px;
  height: 3px;
  background: var(--primary-line-color);
}

.navigator .active {
  background: var(--active-link-color);
}

/* About Us */
.about {
  margin-top: 259px;
  background: #e5e5e5;
}

.about-us .heading,
.our-team .heading,
.practice-areas .heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
}

.about-us .line,
.our-team .line,
.practice-areas .line {
  background: var(--active-link-color);
  width: 101px;
  height: 1px;
}

.about-us .content {
  color: var(--secondary-font-color);
  font-size: 14px;
  line-height: 18px;
  font-family: "Mulish", sans-serif;
}

.vision-heading,
.mission-heading,
.process-heading,
.approach-heading {
  position: relative;
}

.vision .heading,
.mission .heading,
.process .heading,
.approach .heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
}

.vision .line,
.mission .line,
.process .line,
.approach .line {
  width: 46px;
  position: absolute;
  top: 10px;
  left: 17%;
  transform: translateX(-82%);
  border: 3px solid var(--active-link-color);
}

.vision .content,
.mission .content,
.process .content,
.approach .content {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

/* Team */
.team .content {
  width: 237px;
  background: var(--primary-bg-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.team .content-name,
.team .content-button {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: var(--secondary-font-color);
}

.team .content-title {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--active-link-color);
}

.content-button .btn {
  background: var(--active-link-color);
  padding: 1px 6px;
}

.statistics {
  background: rgba(21, 27, 84, 0.75);
}

.stats .number {
  color: var(--active-link-color);
  font-weight: bold;
  font-size: 48px;
  line-height: 63px;
  text-transform: capitalize;
}

.stats .desc {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: var(--primary-bg-color);
}

/* Practice Areas */
.content .underline {
  height: 1px;
  background: var(--active-link-color);
}
