@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Mulish&display=swap");
:root {
  --primary-font-color: #151b54;
  --secondary-font-color: #343434;
  --active-link-color: #d99d49;
  --primary-line-color: #c4c4c4;
  --primary-bg-color: #ffffff;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "EB Garamond", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--primary-font-color);
}

.nav-link {
  color: #151b54 !important;
}

/* Header */
.nav-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.nav-active {
  color: var(--active-link-color) !important;
}

/* Landing Image */
.landing {
  margin-top: 17px;
  position: relative;
}

.landing-image {
  width: -webkit-fill-available;
}

.landing-inner {
  position: absolute;
  top: 319px;
  width: 315px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--primary-bg-color);
  font-size: 14px;
  line-height: 18px;
  font-family: "Mulish", sans-serif;
}

.landing-inner .line {
  width: 46px;
  position: absolute;
  top: 25px;
  left: 20px;
  border: 3px solid var(--active-link-color);
}

.landing-inner .heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  font-family: "EB Garamond", serif;
}

.landing-inner .content {
  color: var(--secondary-font-color);
}

.landing-inner .read {
  border: 2px solid var(--active-link-color);
  box-sizing: border-box;
  color: var(--active-link-color);
  width: 120px;
}

.landing-inner .hire {
  width: 150px;
  height: 43px;
  color: var(--primary-bg-color);
  background: var(--active-link-color);
}

.navigator .lines {
  width: 55.18px;
  height: 3px;
  background: var(--primary-line-color);
}

.navigator .active {
  background: var(--active-link-color);
}

/* About Us */
.about {
  margin-top: 259px;
  background: #e5e5e5;
}

.about-us .heading,
.our-team .heading,
.practice-areas .heading,
.publications .heading,
.contact .heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
}

.about-us .line,
.our-team .line,
.practice-areas .line,
.publications .line,
.contact .line {
  background: var(--active-link-color);
  width: 101px;
  height: 1px;
}

.about-us .content {
  color: var(--secondary-font-color);
  font-size: 14px;
  line-height: 18px;
  font-family: "Mulish", sans-serif;
}

.vision-heading,
.mission-heading,
.process-heading,
.approach-heading {
  position: relative;
}

.vision .heading,
.mission .heading,
.process .heading,
.approach .heading,
.contact-form-2 .heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
}

.vision .line,
.mission .line,
.process .line,
.approach .line {
  width: 46px;
  position: absolute;
  top: 10px;
  left: 17%;
  transform: translateX(-82%);
  border: 3px solid var(--active-link-color);
}

.vision .content,
.mission .content,
.process .content,
.approach .content {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

/* Team */
.team .content {
  width: 237px;
  background: var(--primary-bg-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.contact .content-heading,
.publications .view-more,
.publications .sub-content,
.team .content-name,
.contact-form .button,
.team .content-button {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: var(--secondary-font-color);
}

.publications .name,
.content .sub-content,
.team .content-title {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--active-link-color);
}

.content-button .btn {
  background: var(--active-link-color);
  padding: 1px 6px;
}

.statistics {
  background: rgba(21, 27, 84, 0.75);
}

.stats .number {
  color: var(--active-link-color);
  font-weight: bold;
  font-size: 48px;
  line-height: 63px;
  text-transform: capitalize;
}

.publications .text,
.content .topic,
.stats .desc {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: var(--primary-bg-color);
}

.team .arrow {
  margin-top: 40%;
}

.awards .arrow {
  margin-top: 28%;
}

.team-1 {
  width: -webkit-fill-available;
}

/* Practice Areas */
.content .underline {
  height: 1px;
  background: var(--active-link-color);
}

.content .topic {
  font-family: "EB Garamond", serif;
  color: var(--primary-font-color);
}

.contact-form-2 .line,
.content .line {
  width: 46px;
  height: 5px;
  margin-top: 4px;
  background: var(--active-link-color);
  margin-left: 15px;
}

.content .sub-content {
  color: var(--secondary-font-color);
}

.footer .footer-text,
.contact-form-2 .text,
.contact .topic,
.contact-form .heading {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.form-group input,
.form-group textarea {
  width: 315px;
  height: 34px;
  background: var(--primary-bg-color);
  border: 1px solid var(--primary-line-color);
  box-sizing: border-box;
}

.form-group textarea {
  height: auto;
}

.contact-form-2 .button,
.contact-form .button {
  width: 135px;
  height: 38px;
  background: var(--active-link-color);
}

.awards {
  background: rgba(196, 196, 196, 0.25);
}

/* Publications */
.publications .content {
  position: relative;
}

.publications .text {
  position: absolute;
  width: 303px;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.publications .name {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: var(--primary-bg-color);
  z-index: 10;
}

.content .img-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 310px;
  height: 109px;
  z-index: 5;
  background: rgba(0, 0, 0, 0.51);
}

.publications .sub-content {
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}

.publications .name-publications {
  font-size: 12px;
  line-height: 13px;
  color: var(--secondary-font-color);
}

.content-1 {
  margin-left: 25px;
  width: 146px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.content-2 {
  margin-left: 18px;
}

.publications .view-more {
  color: var(--active-link-color);
}

.view-more-img {
  margin-bottom: 2px;
}

/* Contact */
.contact {
  background: rgba(196, 196, 196, 0.25);
}

.contact .content {
  border: 10px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding-left: 0;
  padding-right: 0;
}

.contact .sub-content {
  background: var(--primary-bg-color);
}

.contact .topic {
  color: var(--active-link-color);
  text-transform: uppercase;
}

.contact-form-2 {
  background: var(--primary-font-color);
}

/* Footer */
.footer {
  position: relative;
}

.footer-logo,
.footer-text,
.footer-icons {
  position: absolute;
  top: 32px;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
}

.footer-text {
  width: 251px;
  top: 117px;
  font-weight: normal;
}

.footer-icons {
  top: 180px;
}

.icon {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: var(--active-link-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-img {
  width: -webkit-fill-available;
}

@media all and (max-width: 320px) {
  /* Landing Page */
  .landing-inner {
    top: 275px;
  }

  /* About Us */
  .vision .content,
  .mission .content,
  .process .content,
  .approach .content {
    margin-left: 0 !important;
    padding: 0 0 0 5px !important;
  }

  .vision .line,
  .mission .line,
  .process .line,
  .approach .line {
    left: 12.8%;
  }

  .form-group input,
  .form-group textarea {
    width: 295px;
  }

  /* Publications */
  .content .img-cover {
    width: 309px;
    height: 107px;
  }

  .publications .text {
    top: 25px;
    width: 280px;
  }

  .content-1 {
    margin-left: 9px;
  }

  /* Footer */
  .footer-logo {
    top: 10px;
  }

  .footer-text {
    top: 90px;
  }

  .footer-icons {
    top: 140px;
  }
}

@media all and (min-width: 375px) {
  /* Landing Image */
  .landing-inner {
    top: 339px;
  }

  /* About Us */
  .vision .content,
  .mission .content,
  .process .content,
  .approach .content {
    margin-left: 20px !important;
  }

  .vision .line,
  .mission .line,
  .process .line,
  .approach .line {
    left: 18%;
  }

  /* Practice Areas */
  .form-group input {
    height: 37px;
  }

  .form-group input,
  .form-group textarea {
    width: 325px;
  }

  /* Publications */
  .content-1 {
    margin-left: 33px;
  }

  .content-2 {
    margin-left: 18px;
  }
}

@media all and (min-width: 411px) {
  /* Landing Page */
  .landing-inner {
    width: 335px;
    top: 380px;
  }

  /* About Us */
  .vision .content,
  .mission .content,
  .process .content,
  .approach .content {
    margin-left: 39px !important;
  }

  .vision .line,
  .mission .line,
  .process .line,
  .approach .line {
    left: 21%;
  }

  /* Practice Areas */
  .form-group input {
    height: 39px;
  }

  .form-group input,
  .form-group textarea {
    width: 355px;
  }

  /* Publications */
  .content-1 {
    margin-left: 52px;
  }

  .content-2 {
    margin-left: 20px;
  }
}

@media all and (min-width: 576px) {
  /* Landing Image */
  .landing-inner {
    width: 435px;
    top: 529px;
  }

  .landing-inner .line {
    left: 80px;
  }

  .about {
    margin-top: 249px;
  }

  /* About Us */
  .vision-img,
  .mission-img,
  .process-img,
  .approach-img {
    height: fit-content;
    padding-left: 7px;
  }

  .vision .heading,
  .mission .heading,
  .process .heading,
  .approach .heading {
    margin-right: 0 !important;
    margin-top: 0 !important;
  }

  .vision .line,
  .mission .line,
  .process .line,
  .approach .line {
    left: 15%;
  }

  .vision .content,
  .mission .content,
  .process .content,
  .approach .content {
    margin: 0 !important;
    padding: 0 7px 0 0 !important;
  }

  /* Practice Areas */
  .awards .arrow {
    margin-top: 18%;
  }

  .content .line {
    margin-left: 22px;
  }

  .form-group input,
  .form-group textarea {
    width: 450px;
  }

  .form-group input {
    height: 44px;
  }

  /* Publications */
  .content .img-cover {
    top: 0px;
    left: 0px;
    width: 400px;
    height: 138px;
  }

  .publications-1 {
    width: 400px;
  }

  .publications .name {
    left: 75px;
    bottom: 20px;
  }

  .content-1 {
    margin-left: 70px;
    width: 176px;
  }

  .content-2 {
    margin-left: 45px;
  }

  .publications-2,
  .publications-3 {
    width: inherit;
  }

  /* Footer */
  .footer-img {
    height: 220px;
  }
}

@media all and (max-width: 767px) {
  /* Header */
  .larger-screens {
    display: none;
  }
}

@media all and (min-width: 768px) {
  /* Header */
  .smaller-screens {
    display: none;
  }

  .nav-bg {
    height: 157px;
  }

  .navbar-brand {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .collapse {
    margin-top: 105px;
  }

  .collapse ul {
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
  }

  /* Landing Image */
  .landing {
    height: 495px;
  }

  .landing-image {
    width: 530px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .landing-inner {
    bottom: 0;
    left: 29%;
    top: 240px;
  }

  .landing-inner .line {
    width: 100px;
    left: 16px;
  }

  .landing-inner .content {
    padding-left: 16px !important;
    text-align: left;
  }

  .landing-inner .buttons {
    padding-left: 16px;
    display: flex;
  }

  .landing-inner .navigator {
    justify-content: start !important;
    padding-left: 16px;
  }

  /* About Us */
  .about {
    margin-top: 69px;
  }

  .about-us .heading {
    padding-top: 49px !important;
  }

  .about-us .line {
    margin-bottom: 25px !important;
  }

  .about-us .content {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .about-us {
    margin-bottom: 93px !important;
  }

  .vision,
  .mission,
  .approach {
    margin-bottom: 70px !important;
  }

  .vision .heading {
    margin-left: 15px !important;
  }

  .mission .heading {
    margin-right: 40px !important;
  }

  .approach .heading {
    margin-left: 55px !important;
  }

  .process .heading {
    margin-right: 55px !important;
  }

  .vision .line,
  .approach .line {
    width: 100px;
    left: 82px;
  }

  .mission .line,
  .process .line {
    width: 100px;
    left: 93%;
  }

  .mission .content,
  .process .content {
    text-align: right !important;
  }

  .vision-img,
  .mission-img,
  .process-img,
  .approach-img {
    height: auto;
    padding-left: 0;
  }

  .process {
    margin-bottom: 79px;
  }

  /* Team */
  .our-team .heading {
    padding-top: 100px !important;
  }

  .our-team .line {
    margin-bottom: 57px !important;
  }

  .team .arrow {
    margin-top: 18%;
  }

  .team .content {
    margin-bottom: 94px;
  }

  .statistics {
    display: flex;
    justify-content: space-around;
  }

  .stats {
    margin-top: 135px !important;
    margin-bottom: 164px !important;
  }
}
